<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unt.restaurantapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerMain"
            android:label="@string/title_activity_customer_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WaitstaffMain"
            android:label="@string/title_activity_waitstaff_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KitchenMain"
            android:label="@string/title_activity_kitchen_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManagerMain"
            android:label="@string/title_activity_manager_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamesMain"
            android:label="@string/title_activity_games_main"
            android:parentActivityName=".CustomerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.CustomerMain" />
        </activity>
        <activity
            android:name=".HelpMain"
            android:label="@string/title_activity_help_main"
            android:parentActivityName=".CustomerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.CustomerMain" />
        </activity>
        <activity
            android:name=".ViewMenu"
            android:label="@string/title_activity_view_menu"
            android:parentActivityName=".CustomerMain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterLoginActivity"
            android:label="@string/title_activity_register_login"
            android:parentActivityName=".CustomerMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.CustomerMain" />
        </activity>
    </application>

</manifest>