<?xml version="1.0" encoding="utf-8"?>
<manifest package="unt.restaurantapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerMain"
            android:label="@string/title_activity_customer_main"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WaitstaffMain"
            android:label="@string/title_activity_waitstaff_main"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KitchenMain"
            android:label="@string/title_activity_kitchen_main"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManagerMain"
            android:label="@string/title_activity_manager_main"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamesMain"
            android:label="@string/title_activity_games_main"
            android:parentActivityName=".CustomerMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.CustomerMain" />
        </activity>
        <activity
            android:name=".HelpMain"
            android:label="@string/title_activity_help_main"
            android:parentActivityName=".CustomerMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.CustomerMain" />
        </activity>
        <activity
            android:name=".ViewMenu"
            android:label="@string/title_activity_view_menu"
            android:parentActivityName=".CustomerMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewMenuWaitstaff"
            android:label="@string/title_activity_view_menu"
            android:parentActivityName=".EditTableActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterUserActivity"
            android:label="@string/title_activity_register_login"
            android:parentActivityName=".CustomerMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.CustomerMain" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_register_login"
            android:parentActivityName=".CustomerMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.CustomerMain" />
        </activity>
        android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".GameLinks"
            android:label="@string/title_activity_game_links"
            android:parentActivityName=".CustomerMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.CustomerMain" />
        </activity>
        <activity
            android:name=".ViewTablesActivity"
            android:label="@string/title_activity_view_tables"
            android:parentActivityName=".WaitstaffMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.WaitstaffMain" />
        </activity>
        <activity
            android:name=".ManageTablesActivity"
            android:label="@string/title_activity_view_tables"
            android:parentActivityName=".ManagerMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.ManagerMain"/>
        </activity>
        <activity
            android:name=".EditTableActivity"
            android:label="@string/title_activity_edit_table"
            android:parentActivityName=".ViewTablesActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.ViewTablesActivity" />
        </activity>
        <activity
            android:name=".AdjustBillActivity"
            android:label="@string/title_activity_adjust_bill"
            android:parentActivityName=".EditTableActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.EditTableActivity" />
        </activity>
        <activity
            android:name=".ViewOrdersActivity"
            android:label="@string/title_activity_view_orders"
            android:parentActivityName=".KitchenMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.KitchenMain" />
            android:value="unt.restaurantapp.CustomerMain"/>
        </activity>
        <activity
            android:name=".ManagerMenuView"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ManagerLoginActivity"
            android:label="@string/title_activity_manager_login"
            android:screenOrientation="landscape" />
        android:screenOrientation="landscape" />
        <activity
            android:name=".ViewUsers"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CheckoutCustomerActivity"
            android:label="@string/title_activity_checkout_customer"
            android:parentActivityName=".CustomerMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.CustomerMain" />
        </activity>
        <activity
            android:name=".ViewOrderActivity"
            android:label="@string/title_activity_view_order"
            android:parentActivityName=".ViewOrdersActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.ViewOrdersActivity" />
        </activity>
        <activity
            android:name=".EditMenu"
            android:label="@string/title_activity_edit_menu"
            android:parentActivityName=".KitchenMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.KitchenMain" />
        </activity>
        <activity
            android:name=".WaitstaffLoginActivity"
            android:label="@string/title_activity_waitstaff_login"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".KitchenLogin"></activity>
        <activity
            android:name=".SurveyActivity"
            android:label="@string/title_activity_survey"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewStatsActivity"
            android:label="@string/title_activity_view_stats"
            android:parentActivityName=".ManagerMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unt.restaurantapp.ManagerMain" />
        </activity>
            android:theme="@style/AppTheme.NoActionBar">
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ManagerVerifiction">
        </activity>
        <activity android:name=".RegisterWaitstaff">
        </activity>
        <activity android:name=".RegisterKitchen">
        </activity>
        <activity android:name=".ManagerCheck">
        </activity>
    </application>

</manifest>